@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .dark-mode {
    @apply bg-FEDarkBlue text-FEWhite;
  }
  .light-mode {
    @apply bg-FEVeryLightGrayBg text-FEDarkBlueText;
  }
}
